<?xml version='1.0' encoding='utf-8'?>
<widget id="de.roybartsch.bbzploenapp" version="0.1.0">
  <name>BBZPloen</name>
  <description>
    Deckungsbeitragsrechner
  </description>
  <author email="roy.bartsch@web.de">
    Roy Bartsch
  </author>
  <preference name="UseStrictSSL" value="false" />
</widget>
